# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log

# Secrets
.env
*.pem
*.key

# Kubernetes
*.secret.yaml

# Application
__pycache__/
*.pyc
node_modules/
dist/

# Helm
charts/*/charts/

# OS / editor
.DS_Store
.vscode/

# Local backup files
*.backup
